

<% @capas.each do |capa| %>


			<img class="teste" src="<%= capa.imagem.url(:medium) %>" alt="">

<% end %>




		<% if current_user  %>
		<section id="our-team">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h1>Deletar capas</h1>
						<span class="st-border"></span>
					</div>
				</div>



				<% @capas.each do |capa| %>

				<div class="col-md-3 col-sm-6">
					<div class="team-member">
						<div class="member-image">
							<img class="img-responsive" src="<%= capa.imagem.url(:medium) %>" alt="">

						</div>
						<div class="member-info">
							<h4><%= capa.descricao %></h4>
							<p ><%= link_to "destroy", capa_path(capa.id), method: "delete", class: "btn btn-delete" %><p>
						</div>
					</div>
				</div>
				<% end %>

			</div>
		</div>
	</section>
	<% end %>
