


<section id="our-team">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h1>Our Team</h1>
						<span class="st-border"></span>
					</div>
				</div>
        <% @produtos.each do |produto| %>
				<div class="col-md-3 col-sm-6">
					<div class="team-member">
						<div class="member-image ">
            <%= image_tag produto.imagem.url(:thumb),class:"img-responsive" %>
							<div class="member-social">
								  <%= link_to "Ver mais", produto_path(produto) %>

							</div>
						</div>
						<div class="member-info">
							<h4><%= produto.nome %></h4>
							<span><%= produto.descricao %></span>
						</div>
					</div>
				</div>
        <% end %>



			</div>
		</div>
	</section>
